<!DOCTYPE html>
<html>
<body>
<head>
    <meta charset="utf-8">
    <meta charset="iso-8559-1"/>
    <meta name= "description" content="pagina de enseñanza"/>
    <meta name="keywords" content="html5,javascript,diseño web"/>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/update.css">
   <title>Agregar</title>
</head>

<h1 id="crear">Agregar Producto</h1>

<form action="/addPost" method="post">
    
<div class='flex-principal'>
<!------------------------------------------->
<div id="editorcentrall">
    <!------------------------------------------>
    <div class="DIV">
    <label for="nombre">nombre</label>
    
    <input type="text" autofocus name="nombre"/>
    </div>
    <!------------------------------------------>
    <div class="DIV">
    <label for="codigo">codigo</label>
    
    <input name="codigo" type="number"/>
    </div>
    <!--------------------------------------------->
    <div class="DIV">
    <label for="precio">precio</label>
    <input type="number" name="precio">
    </div>
    <!----------------------------------------------------->
    <div class="DIV">
    <label for="descripcion">descripcion</label>
    <input type="text" name="descripcion">
    </div>
    <!----------------------------------------------------->
    <div class="DIV">
    <label for="calidad">calidad</label>
    <input type="text" name="calidad">
    </div>
    <!----------------------------------------------------->
    <div class="DIV">
    <label for="cantidad">Cantidad</label>
    <input type="number" name="cantidad">
    </div>
    <!----------------------------------------------------->
    <!----------------------------------------------------->
    <div class="DIV">
    <label for="categoria">Categoria</label>

     <select id='categoria' name='categoria' required>
        <option value="1">Categoria 1</option>
        <option value="2">Categoria 2</option>
        <option value="3">Categoria 3</option>
    </select>

    </div>
    </div>
    
<!------------------------------------------->
<div id="cancelar">
	<input type="submit" value="Agregar" id="update">
    <input type="button" value="Cancelar" onclick="regresar()">
</div>

</div>

</form>
<script type="text/javascript">
    function regresar(){
        window.location.href='/productos';
    }
</script>
</body>
</html>
