<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Detalles</title>
	<style type="text/css">
	 @font-face{
            font-family:'fuenteC';
            src:url(/fuentes/HyperSuperFast.ttf);
           }
           body{
            background:rgba(135, 215, 233,.3);
           }
		img{
			width:50%;
			height:70vh;
			margin:20px;
		}
		#contenedor{
		 display:flex;
		 justify-content: center;
		 align-items: center;
		 width: 100%;
		 margin:70px auto;
		}
		h1{
			text-align: center;
			line-height:100px;
			font:50px 'fuenteC';
		}
		a{
			text-decoration:none;
			color:black;
			font:30px 'fuenteC';
			margin-left:90%;
		}
	</style>
</head>
<body>
  <h1>Imagenes del Producto</h1>

   <div id='contenedor'>
  <%for(let zheta = 0;zheta < imagenes.length;zheta++){ %>
   <img src="<%= imagenes[zheta].url%>">
  <% } %>
   </div>
   <a href="/clientes">Volver</a>

</body>
</html>