
<!DOCTYPE html>
<html>
<%- include('header') -%>
<body>
   <div class="Body">
<div class="A E"></div>
<div class="B E"></div>
<div class="C E"></div>
<div class="D E"></div>
   <nav>
      <a href="/clientes">Clientes</a> 
      <a href="/login"> Administrativo </a> 
   </nav>
   <div class="container">
      <h1>Bienvenido</h1>
      <p>Maikol Rodríguez</p>
      <p>Cedula: 31081335</p>
      <p>Sección: 1</p>
  </div>
  
      <p>¡Gracias por visitar nuestra página!</p>
   </div>
</body>

</html>